--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.40.2
langchain-community==0.3.14
langchain-text-splitters==0.3.4
langchain-huggingface==0.3.1
faiss-cpu==1.9.0.post1
transformers==4.47.1
sentence-transformers==3.3.1
pypdf==4.3.1
torch==2.5.1+cpu
SpeechRecognition==3.10.4
audio-recorder-streamlit==0.0.8
gtts==2.5.3
deep-translator==1.11.4
requests==2.32.3
